.mat-mdc-dialog-surface {
    border-radius: 20px !important;
}

.choose-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 18px 14px;
    padding-bottom: 31px;
}

.error-msg {
    position: absolute;
    transition: 0.3s;
    top: 22px;
    opacity: 0;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: var(--button-color);
    padding: 13px 21px;
    border-radius: 25px;
}

.error-msg.show-error-msg {
    opacity: 1;
}

.choose-popup-title {
    font-size: 27px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 38px;
}

.choose-seed-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-seed {
    cursor: pointer;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seed-icon {
    width: 99px;
    margin-bottom: 10px;
}

.seed-info-cost,
.seed-info-profit,
.seed-info-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 6px;
    height: 25px;
    width: 88px;
    border-radius: 70px;
}

.seed-info-cost {
    color: #e35a5a;
    border: 2px solid #e35a5a;
}

.seed-info-profit {
    color: green;
    border: 2px solid green;
}

.seed-info-time {
    color: #6e6ec7;
    border: 2px solid #6e6ec7;
}